{% extends 'base.html' %} {% block content %}
{% load humanize %}
    <h3>CryptoVision Test Page</h3>
    <hr />
    <p>This is a page for testing query output.</p>

    {% comment %} <p>Single Item: {{ item }}</p> {% endcomment %}

    {% for item in items %} 
        <p>{{ item }}: ${{ item.coin.coin_usd|floatformat:2|intcomma }}</p> 
        <p>Quantity: {{ item.total_quantity }}</p>
        <p>Value: ${{ item.total_value|floatformat:2|intcomma }}</p>
        <p>Test Value: ${{ item.total_value|floatformat:2|intcomma }}</p>

    {% endfor %} 

    {% comment %} <p>Exchange Coins:</p>
    {% for item in exchange_coins %} 
    <p>{{ item.user_coin }}: {{ item.get_location_display }}</p> 
    {% endfor %} {% endcomment %}

    {% comment %} <p>Count: {{ count }}</p>
    <p>Total_Quantity: {{ sum.total_quantity }}</p> {% endcomment %}

{% endblock %}