{% extends 'base.html' %} {% block content %}
{% load humanize %}

<div class="card form-card">
    <div class="row">
        <div class="col s11"> 
            <h3> Recommendation Detail </h3>
            <hr>
        </div>
        <div class="col s1">
            <a href="{% url 'detail' recommendation.coin.id %}"><i class="small material-icons blue-text text-darken-3">fast_rewind</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                {% comment %} <p>Date: {{ recommendatioin.date }}</p> {% endcomment %}
                <p>Coin: {{ recommendation.coin }}</p>
                <p>Buy Up to Price: ${{ recommendation.buy_up_to|floatformat:2|intcomma }}</p>
                <p>Recommendation: {{ recommendation.recommendation|safe }}</p>
                <p>Origin: {{ recommendation.origin }}</p>
            </div>
            {% comment %} <div class="col s12">
                <p> Notes: {{ holding.notes }} </p>
            </div> {% endcomment %}
            <div class="col s12 card-action">           
                <a href="{% url 'recommendations_update' recommendation.id %}">Edit</a>
                <a href="{% url 'recommendations_delete' recommendation.id %}">Delete</a>
            </div> 
        </div>
    </div>
</div>

{%endblock%}