body {
    font-family: "Roboto+Flex", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(320deg, #1565c0 0%, #90caf9 30%, #fdfdfd 70%);
}
main {
flex: 1 0 auto;
}
footer {
padding-top: 0;
text-align: right;
}
form {
    margin: 1rem;
}
.coin_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inf-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inf-card > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.home-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
}
.home-body-list > ul > li {
    margin: .5rem;
}
.tbl-img {
    width: 14px;
    height: 14px;
}
.detail-img{
    margin: 1rem;
}
.material-icons {
    margin: .5rem;
}
.dropdown-content {
    color: red;
}
.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #ecf5fb ;
  border-bottom: 1px solid #2196f3;
}
.form-card {
    margin-top: 3rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding: 1rem;
}
.usercoin-card {
    margin-top: 3rem;
    padding: 1rem;
}
.del-card {
    display: flex;
    /* color: red; */
    flex-direction: column;
    align-items: center;
}
.del-form {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.del-form > input {
    margin: 1rem;
}
.del-form > a {
    margin: 1rem;
}
.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rec-image {
    width: 45px;
    height: 45px;
    margin: 1rem;
    border-radius: 50%;
}