body {
    font-family: "Roboto+Flex", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(320deg, #1565c0 0%, #90caf9 30%, #fdfdfd 70%);
}
main {
flex: 1 0 auto;
}
footer {
padding-top: 0;
text-align: right;
}
form {
    margin: 1rem;
}
.coin_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inf-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inf-card > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.home-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
}
.home-body-list > ul > li {
    margin: .5rem;
}
.tbl-img {
    width: 14px;
    height: 14px;
    /* margin-right: 5px; */
}
.material-icons {
    margin: .5rem;
}
