{% extends 'base.html' %} {% block content %}

<h3>My Coins</h3>

<div class="card">
    <table class="striped">
          <thead>
            <tr>
                <th>Name</th>
                <th>Current Price</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Total Value</th>
            </tr>
          </thead>
          <tbody>
            {% for user_coin in user_coins  %}
                <tr>
                    <td><img class="tbl-img" src="{{ user_coin.coin.coin_image }}" alt="coin image"> <span>{{ user_coin.coin.coin_name }}</span></td>
                    <td>${{ user_coin.coin.coin_usd|stringformat:'1.2f' }}</td>
                    <td>{{ user_coin.get_status_display }}</td>
                    <td>{{ user_coin.total_quantity|stringformat:"1.4f" }}</td>
                    <td>${{ user_coin.total_value|stringformat:"1.4f" }}</td>
                    <td><a class="blue-text text-darken-4" href="{% url 'user_coins_detail' user_coin.id %}">View</a></td>
                </tr>
            {% endfor %}
          </tbody>
    </table>
</div>

{% endblock %}