{% extends 'base.html' %} {% block content %}
{% load humanize %}

<div class="card form-card">
    <div class="row">
        <div class="col s2">
            <img class="detail-img" src="{{ coin.coin_image }}" alt="{{ coin.coin_name }}" class="img-fluid">
        </div>
        <div class="col s9">
                <h3>{{ coin.coin_name }} Details </h3>
        </div>
        <div class="col s1"> 
            <a href="{% url 'index' %}"><i class="small material-icons blue-text text-darken-3">fast_rewind</i></a>
        </div> 
    </div> 
    <div class="row">
        <div class="col s12">
            {% comment %} <h2> {{ coin.name }} </h2> {% endcomment %}
            <div class="col s8">
                <p> Symbol: {{ coin.coin_symbol }} </p>
                <p> Price: ${{ coin.coin_usd|floatformat:2|intcomma }} </p>
            </div>
            <div class="col s4">
               
            </div>
            <div class="col s12">
                <p> Description: {{ coin.description|safe }} </p>
            </div>
            <div class="col s4 card-action">
                {% comment %} <a href="{% url 'user_coins_create' %}">Track</a>  {% endcomment %}
                <a href="{{ create_user_coin_url }}">Track</a> 
                <a href="{% url 'coins_update' coin.id %}">Edit</a>
                <a href="{% url 'coins_delete' coin.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3>Recommendations</h3> 
            <hr>
            <div class="col s12">
                <ul class="collapsible notacordian blue-text text-darken-4">
                    <li>
                        <div class="collapsible-header">
                        Create a new Recommendation...
                        {% comment %} <i class="material-icons">filter_drama</i>  {% endcomment %}
                        </div>
                        <div class="collapsible-body">
                            <form action="{% url 'add_recommendation' coin.id %}" method="POST">
                            {% csrf_token %}
                            {{ recommendation_form.as_p }}
                            <input type="submit" value="Submit" class="btn blue text-darken-4">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            {% for rec in recommendations %}
                <div class="card col s6 card-form">
                    {% comment %} <div class="col s4"> {% endcomment %}
                        <div class="col s7">
                            <p><b>Origin:</b> {{ rec.origin }} </p>
                            <p><b>Date:</b> {{ rec.date|date:"M d, Y" }}</p>
                            <p><b>Buy up to Price:</b> ${{ rec.buy_up_to|floatformat:2|intcomma }}</p>
                        </div>
                        <div class="col s4">
                            <img class="rec-image" src="https://i.imgur.com/zGUu5ZX.jpg" alt="sample"></img>
                        </div>
                        <div class="col s11 card-action">
                            <a class="blue-text text-darken-4" href="{% url 'recommendations_detail' rec.id %}">View</a>
                        </div> 
                    {% comment %} </div> {% endcomment %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
        {% comment %} Initialize Materialize Collapsible {% endcomment %}
        $(document).ready(function(){
            $('.notacordian').collapsible();
          }); 
          var elem = document.querySelector('.expandable');
          var instance = M.Collapsible.init(elem, {
            accordion: false
          });
</script>

{%endblock%}