{% extends 'base.html' %} {% block content %}
{% load humanize %}

<h3>Coin List</h3>

<div id="globalMC">
  <p>Today, there are <span style="color:blue">{{ gbl_items.active_cryptocurrencies|intcomma }}</span> currencies and the global cryptocurrency market cap is <span style="color:blue">${{ gbl_items.total_market_cap.usd|floatformat:2|intcomma }}</span>. This is a <span class="report-num" style="color:blue">{{ gbl_items.market_cap_change_percentage_24h_usd|floatformat:2 }}</span>% change in the last 24 hours.</p>
</div>

<div class="card">
    <table class="striped">
          <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                {% comment %} <th>24hr%</th> {% endcomment %}
                <th>MC Rank</th>
            </tr>
          </thead>
          <tbody>
            {% for coin in coins %}            
            <tr>
                <td><img class="tbl-img" src="{{ coin.coin_image }}" alt="coin image"> <span>{{ coin.coin_name }}</span></td>
                <td>{{ coin.coin_symbol }}</td>
                <td>${{ coin.coin_usd|floatformat:2|intcomma }}</td>
                {% comment %} <td>{{ coin.coin_change }}</td> {% endcomment %}
                <td>{{ coin.marketcap_rank }}</td>
                <td><a class="blue-text text-darken-4" href="{% url 'detail' coin.id %}">View</a></td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>

{% endblock %}